In [ ]:
! pip install liac-arff

In [ ]:
! pip install pyarrow

In [ ]:
## Checks to be executed for each dataset
## 1. The unique values across the entire dataset should be 0 or 1 only
## 2. There should NOT be any columns in the co-variate space with all value equal. Let's remove those columns

In [ ]:
import arff
import pandas as pd
from scipy.sparse import csr_matrix
import numpy as np

In [ ]:
path = "/repos/smote_msfb/public_datasets/enron/"

In [ ]:
# Load the .arff file - With full data in one file
with open(path + 'enron.arff', 'r') as f:
    dataset = arff.load(f)
    
# Extract data and attributes
data = dataset['data']
attributes = dataset['attributes']

# Create DataFrame
columns = [attr[0] for attr in attributes]
df = pd.DataFrame(data, columns=columns)

In [7]:
print("Shape of the delicious.arff file :", df.shape)

Shape of the delicious.arff file : (1702, 1054)

In [8]:
### Get the position of the first Label columns
col_position = df.columns.get_loc("A.A8")  ## The first label column in the dataset
print(col_position)

1001

In [9]:
df.columns

Index(['0', '00', '000', '01', '02', '03', '04', '05', '06', '07',
       ...
       'C.C3', 'D.D10', 'D.D18', 'B.B13', 'D.D17', 'B.B10', 'C.C1', 'D.D4',
       'C.C13', 'D.D14'],
      dtype='object', length=1054)

In [10]:
df.iloc[:,:col_position].columns

Index(['0', '00', '000', '01', '02', '03', '04', '05', '06', '07',
       ...
       'workers', 'working', 'world', 'writer', 'writers', 'www', 'year',
       'years', 'yesterday', 'york'],
      dtype='object', length=1001)

In [11]:
##Check if the unique values across the entire co-variate space is 0 and 1 only or not
unique_values = np.unique(df.iloc[:, :col_position].values)
print(unique_values)

['0' '1']

In [12]:
## Check if the unique values in the mulit labels is 0 and 1 only or not
unique_values = np.unique(df.iloc[:,col_position:].values)
print(unique_values)

['0' '1']

In [ ]:
## No columns were deleted during constant value checks

In [13]:
df.iloc[:,:col_position].columns

Index(['0', '00', '000', '01', '02', '03', '04', '05', '06', '07',
       ...
       'workers', 'working', 'world', 'writer', 'writers', 'www', 'year',
       'years', 'yesterday', 'york'],
      dtype='object', length=1001)

In [15]:
##  Rename the co-variate feature space of the dataset

# Generate new column names
new_feature_names = [f"f_{i}" for i in range(col_position)]

# Assign the new names to the first 1836 columns
df.columns.values[:col_position] = new_feature_names

In [16]:
df.head(3)

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,C.C3,D.D10,D.D18,B.B13,D.D17,B.B10,C.C1,D.D4,C.C13,D.D14
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
df = df.astype(int)

In [18]:
## Dataset is highly imbalanced

# Slice only the label columns
label_data = df.iloc[:, col_position:]

# Calculate proportions of 0's and 1's for each column
for col in label_data.columns:
    value_counts = label_data[col].value_counts(normalize=True).sort_index()
    prop_0 = value_counts.get(0, 0)
    prop_1 = value_counts.get(1, 0)
    print(f"{col}: 0's = {prop_0:.4f}, 1's = {prop_1:.4f}")

A.A8: 0's = 0.9847, 1's = 0.0153
C.C9: 0's = 0.9624, 1's = 0.0376
B.B12: 0's = 0.9965, 1's = 0.0035
C.C11: 0's = 0.9847, 1's = 0.0153
C.C5: 0's = 0.9365, 1's = 0.0635
C.C7: 0's = 0.9512, 1's = 0.0488
B.B2: 0's = 0.4636, 1's = 0.5364
B.B3: 0's = 0.9753, 1's = 0.0247
D.D16: 0's = 0.9941, 1's = 0.0059
A.A7: 0's = 0.9853, 1's = 0.0147
D.D1: 0's = 0.9929, 1's = 0.0071
A.A4: 0's = 0.6868, 1's = 0.3132
C.C2: 0's = 0.9266, 1's = 0.0734
A.A3: 0's = 0.9031, 1's = 0.0969
A.A1: 0's = 0.4976, 1's = 0.5024
D.D9: 0's = 0.9894, 1's = 0.0106
D.D19: 0's = 0.9947, 1's = 0.0053
B.B8: 0's = 0.9871, 1's = 0.0129
D.D12: 0's = 0.9777, 1's = 0.0223
D.D6: 0's = 0.9877, 1's = 0.0123
C.C8: 0's = 0.9371, 1's = 0.0629
A.A6: 0's = 0.8966, 1's = 0.1034
B.B9: 0's = 0.9677, 1's = 0.0323
A.A5: 0's = 0.9436, 1's = 0.0564
C.C10: 0's = 0.9548, 1's = 0.0452
B.B1: 0's = 0.6005, 1's = 0.3995
D.D5: 0's = 0.9924, 1's = 0.0076
B.B11: 0's = 0.9959, 1's = 0.0041
D.D2: 0's = 0.9882, 1's = 0.0118
B.B4: 0's = 0.9271, 1's = 0.0729
D.D15: 0's = 0.9982, 1's = 0.0018
C.C4: 0's = 0.9630, 1's = 0.0370
D.D8: 0's = 0.9959, 1's = 0.0041
B.B6: 0's = 0.9853, 1's = 0.0147
D.D3: 0's = 0.9871, 1's = 0.0129
D.D13: 0's = 0.9953, 1's = 0.0047
D.D7: 0's = 0.9924, 1's = 0.0076
C.C12: 0's = 0.9806, 1's = 0.0194
B.B7: 0's = 0.9924, 1's = 0.0076
C.C6: 0's = 0.8537, 1's = 0.1463
B.B5: 0's = 0.9912, 1's = 0.0088
D.D11: 0's = 0.9835, 1's = 0.0165
A.A2: 0's = 0.9712, 1's = 0.0288
C.C3: 0's = 0.9583, 1's = 0.0417
D.D10: 0's = 0.9236, 1's = 0.0764
D.D18: 0's = 0.9994, 1's = 0.0006
B.B13: 0's = 0.8173, 1's = 0.1827
D.D17: 0's = 0.9988, 1's = 0.0012
B.B10: 0's = 0.9894, 1's = 0.0106
C.C1: 0's = 0.8807, 1's = 0.1193
D.D4: 0's = 0.9882, 1's = 0.0118
C.C13: 0's = 0.9959, 1's = 0.0041
D.D14: 0's = 0.9982, 1's = 0.0018

In [19]:
## Rename all the response variables as target_X

# Total number of columns
total_cols = df.shape[1]

# Generate new names for response variables
num_targets = total_cols - col_position
new_target_names = [f"target_{i+1}" for i in range(num_targets)]

# Apply the new names
df.columns.values[col_position:] = new_target_names

In [20]:
df.columns = df.columns.map(lambda x: "_".join(map(str, x)) if isinstance(x, tuple) else str(x))

In [21]:
## Meaning the no. of minority > no. of majority samples. When ever this happens we need to --> Random convert minority samples to 
## majority by flipping the response variable to 0 from 1. Such that the no. of minority is 25% of the majority samples.

for target_col in [c for c in df.columns if c.startswith("target_")]:
    counts = df[target_col].value_counts()
    num_majority = counts.get(0, 0)
    num_minority = counts.get(1, 0)

    if num_minority > num_majority:
        # Pre ratio
        pre_ratio = num_minority / num_majority if num_majority > 0 else float('inf')

        # Desired minority count = 25% of majority
        desired_minority = int(0.25 * num_majority)

        # Number of flips needed
        num_to_flip = num_minority - desired_minority
        minority_indices = df[df[target_col] == 1].sample(
            n=num_to_flip, random_state=42
        ).index

        # Flip selected 1's to 0
        df.loc[minority_indices, target_col] = 0

        # Post ratio
        counts_post = df[target_col].value_counts()
        post_ratio = counts_post.get(1, 0) / counts_post.get(0, 1)

        print(f"Adjusted {target_col}: pre ratio={pre_ratio:.2f}, post ratio={post_ratio:.2f}")

Adjusted target_7: pre ratio=1.16, post ratio=0.13
Adjusted target_15: pre ratio=1.01, post ratio=0.14

In [22]:
# Collect counts for all target_* columns
counts_summary = {}

for col in df.columns:
    if col.startswith("target_"):
        counts_summary[col] = df[col].value_counts().to_dict()

# Convert to DataFrame for easy viewing
summary_df = pd.DataFrame(counts_summary).T.fillna(0).astype(int)
summary_df.columns = ["0_count", "1_count"]  # reorder if needed

print(summary_df)

           0_count  1_count
target_1      1676       26
target_2      1638       64
target_3      1696        6
target_4      1676       26
target_5      1594      108
target_6      1619       83
target_7      1505      197
target_8      1660       42
target_9      1692       10
target_10     1677       25
target_11     1690       12
target_12     1169      533
target_13     1577      125
target_14     1537      165
target_15     1491      211
target_16     1684       18
target_17     1693        9
target_18     1680       22
target_19     1664       38
target_20     1681       21
target_21     1595      107
target_22     1526      176
target_23     1647       55
target_24     1606       96
target_25     1625       77
target_26     1022      680
target_27     1689       13
target_28     1695        7
target_29     1682       20
target_30     1578      124
target_31     1699        3
target_32     1639       63
target_33     1695        7
target_34     1677       25
target_35     1680       22
target_36     1694        8
target_37     1689       13
target_38     1669       33
target_39     1689       13
target_40     1453      249
target_41     1687       15
target_42     1674       28
target_43     1653       49
target_44     1631       71
target_45     1572      130
target_46     1701        1
target_47     1391      311
target_48     1700        2
target_49     1684       18
target_50     1499      203
target_51     1682       20
target_52     1695        7
target_53     1699        3

In [23]:
df.columns = [str(col) for col in df.columns]
df = df.astype(int)

In [29]:
# Select only the response variable columns (those that start with 'target_')
response_cols = [col for col in df.columns if col.startswith('target_')]

# Identify which response columns have at least 1% 1's
cols_to_keep = [
    col for col in response_cols 
    if (df[col] == 1).mean() >= 0.05
]

# Combine covariate columns and filtered response columns
covariate_cols = [col for col in df.columns if not col.startswith('target_')]
filtered_df = df[covariate_cols + cols_to_keep]

# Optional: print kept target columns and their proportions
for col in cols_to_keep:
    prop_1 = (filtered_df[col] == 1).mean()
    print(f"{col}: proportion of 1s = {prop_1:.4f}")

target_5: proportion of 1s = 0.0635
target_7: proportion of 1s = 0.1157
target_12: proportion of 1s = 0.3132
target_13: proportion of 1s = 0.0734
target_14: proportion of 1s = 0.0969
target_15: proportion of 1s = 0.1240
target_21: proportion of 1s = 0.0629
target_22: proportion of 1s = 0.1034
target_24: proportion of 1s = 0.0564
target_26: proportion of 1s = 0.3995
target_30: proportion of 1s = 0.0729
target_40: proportion of 1s = 0.1463
target_45: proportion of 1s = 0.0764
target_47: proportion of 1s = 0.1827
target_50: proportion of 1s = 0.1193

In [30]:
## Rename all the response variables as target_X

# Total number of columns
total_cols = filtered_df.shape[1]

# Generate new names for response variables
num_targets = total_cols - col_position
new_target_names = [f"target_{i+1}" for i in range(num_targets)]

# Apply the new names
filtered_df.columns.values[col_position:] = new_target_names

In [31]:
filtered_df.head(3)

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,target_6,target_7,target_8,target_9,target_10,target_11,target_12,target_13,target_14,target_15
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
filtered_df.to_csv(path + "/Final_dataset.csv", index=False)

In [34]:
filtered_df.columns = [str(col) for col in filtered_df.columns]

In [35]:
filtered_df.to_parquet(
    path + "/processed_dataset.parquet", 
    engine="pyarrow", 
    compression="snappy", 
    index=False
)