In [ ]:
! pip install liac-arff

In [ ]:
## Checks to be executed for each dataset
## 1. The unique values across the entire dataset should be 0 or 1 only
## 2. There should NOT be any columns in the co-variate space with all value equal. Let's remove those columns

In [2]:
import arff
import pandas as pd
from scipy.sparse import csr_matrix
import numpy as np

In [3]:
path = "/domino/datasets/local/CustomerSegmentation/public_datasets/tmc2007/"

In [4]:
# Load the .arff file - With full data in one file
with open(path + 'tmc2007.arff', 'r') as f:
    dataset = arff.load(f)
    
# Extract data and attributes
data = dataset['data']
attributes = dataset['attributes']

# Create DataFrame
columns = [attr[0] for attr in attributes]
df = pd.DataFrame(data, columns=columns)

In [5]:
print("Shape of the medical.arff file :", df.shape)

Shape of the medical.arff file : (28596, 49082)

In [6]:
### Get the position of the first Label columns
col_position = df.columns.get_loc("class01")  ## The first label column in the dataset
print(col_position)

49060

In [7]:
df.columns

Index(['0', '00', '000', '001', '0015', '002', '004', '005', '006', '007',
       ...
       'class13', 'class14', 'class15', 'class16', 'class17', 'class18',
       'class19', 'class20', 'class21', 'class22'],
      dtype='object', length=49082)

In [8]:
df.iloc[:,:col_position+1].columns

Index(['0', '00', '000', '001', '0015', '002', '004', '005', '006', '007',
       ...
       'zzx', 'zzxy', 'zzy', 'zzz', 'zzz1', 'zzzy', 'zzzz', 'zzzzz', 'zzzzz2',
       'class01'],
      dtype='object', length=49061)

In [9]:
##Check if the unique values across the entire co-variate space is 0 and 1 only or not
unique_values = np.unique(df.iloc[:, :col_position].values)
print(unique_values)

['0' '1']

In [10]:
## Check if the unique values in the mulit labels is 0 and 1 only or not
unique_values = np.unique(df.iloc[:,col_position:].values)
print(unique_values)

['0' '1']

In [11]:
## Check to drop columns from the dataset with same values for all rows

# Subset the first 1836 columns
features = df.iloc[:, :col_position]

# Identify columns with more than one unique value
non_constant_cols = features.loc[:, features.nunique(dropna=False) > 1]

print("Shape of the non_constant_cols :", non_constant_cols.shape)

# Concatenate with the remaining part of the DataFrame (e.g., label columns)
df_cleaned = pd.concat([non_constant_cols, df.iloc[:, col_position:]], axis=1)

print("Shape of df_cleaned :", df_cleaned.shape)

Shape of the non_constant_cols : (28596, 48930)
Shape of df_cleaned : (28596, 48952)

In [12]:
## WE REMOVE A LOT OF COLUMNS WITH SAME VALUE ACROSS ALL ROWS. ALMOST 90% OF THE COLUMNS ARE GONE

col_position = non_constant_cols.shape[1]

col_position

48930

In [15]:
df_cleaned.iloc[:,:col_position+1].columns

Index(['0', '00', '000', '001', '0015', '002', '004', '005', '006', '007',
       ...
       'zzx', 'zzxy', 'zzy', 'zzz', 'zzz1', 'zzzy', 'zzzz', 'zzzzz', 'zzzzz2',
       'class01'],
      dtype='object', length=48931)

In [16]:
##  Rename the co-variate feature space of the dataset

# Generate new column names
new_feature_names = [f"f_{i}" for i in range(col_position)]

# Assign the new names to the first 1836 columns
df_cleaned.columns.values[:col_position] = new_feature_names

In [17]:
df_cleaned.head(3)

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,class13,class14,class15,class16,class17,class18,class19,class20,class21,class22
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [18]:
## Dataset is highly imbalanced

# Slice only the label columns
label_data = df_cleaned.iloc[:, col_position:]

# Calculate proportions of 0's and 1's for each column
for col in label_data.columns:
    value_counts = label_data[col].value_counts(normalize=True).sort_index()
    prop_0 = value_counts.get(0, 0)
    prop_1 = value_counts.get(1, 0)
    print(f"{col}: 0's = {prop_0:.4f}, 1's = {prop_1:.4f}")

class01: 0's = 0.9344, 1's = 0.0656
class02: 0's = 0.4344, 1's = 0.5656
class03: 0's = 0.9785, 1's = 0.0215
class04: 0's = 0.9787, 1's = 0.0213
class05: 0's = 0.8631, 1's = 0.1369
class06: 0's = 0.7320, 1's = 0.2680
class07: 0's = 0.9220, 1's = 0.0780
class08: 0's = 0.9005, 1's = 0.0995
class09: 0's = 0.9800, 1's = 0.0200
class10: 0's = 0.9491, 1's = 0.0509
class11: 0's = 0.9820, 1's = 0.0180
class12: 0's = 0.8505, 1's = 0.1495
class13: 0's = 0.9004, 1's = 0.0996
class14: 0's = 0.9422, 1's = 0.0578
class15: 0's = 0.9822, 1's = 0.0178
class16: 0's = 0.9563, 1's = 0.0437
class17: 0's = 0.9806, 1's = 0.0194
class18: 0's = 0.9479, 1's = 0.0521
class19: 0's = 0.7016, 1's = 0.2984
class20: 0's = 0.9694, 1's = 0.0306
class21: 0's = 0.9846, 1's = 0.0154
class22: 0's = 0.9718, 1's = 0.0282

In [19]:
## Rename all the response variables as target_X

# Total number of columns
total_cols = df_cleaned.shape[1]

# Generate new names for response variables
num_targets = total_cols - col_position
new_target_names = [f"target_{i+1}" for i in range(num_targets)]

# Apply the new names
df_cleaned.columns.values[col_position:] = new_target_names

In [20]:
df_cleaned.head(3)

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,target_13,target_14,target_15,target_16,target_17,target_18,target_19,target_20,target_21,target_22
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [ ]:
df_cleaned.to_csv(path + "/Final_dataset.zip", index=False, compression='zip')