In [ ]:
! pip install ucimlrepo

In [1]:
import pandas as pd
import numpy as np

In [2]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
abalone = fetch_ucirepo(id=1)

In [11]:
output_loc = "/repos/smote_msfb/public_datasets/Abalone/"

In [3]:
# data (as pandas dataframes) 
X = abalone.data.features 
y = abalone.data.targets

In [ ]:
# metadata 
print(abalone.metadata) 
  
# variable information 
print(abalone.variables)

In [ ]:
X.head(4)

In [ ]:
X.dtypes

In [4]:
# Specify percentile cutoff (e.g., 75 for top 25%)
percentile_cutoff = 65

# Identify continuous columns (assumes all except 'Sex' are continuous)
continuous_cols = [col for col in X.columns if X[col].dtype in ['float64', 'int64']]

# Binarize continuous variables based on percentile
for col in continuous_cols:
    cutoff = X[col].quantile(percentile_cutoff / 100)
    X[col + '_bin'] = (X[col] > cutoff).astype(int)

# Optionally drop original continuous columns if you want only binary
X = X.drop(columns=continuous_cols)

In [5]:
# Assuming your DataFrame is called X
X['Sex_bin'] = (X['Sex'] == 'M').astype(int)

# Drop original 'Sex' column
X = X.drop(columns=['Sex'])

In [6]:
X.head(4)

,Length_bin,Diameter_bin,Height_bin,Whole_weight_bin,Shucked_weight_bin,Viscera_weight_bin,Shell_weight_bin,Sex_bin
0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1

In [21]:
# Assuming your DataFrame is called X
X.columns = [f'f_{i}' for i in range(1,X.shape[1]+1)]

In [22]:
X.head()

   f_1  f_2  f_3  f_4  f_5  f_6  f_7  f_8
0    0    0    0    0    0    0    0    1
1    0    0    0    0    0    0    0    1
2    0    0    0    0    0    0    0    0
3    0    0    0    0    0    0    0    1
4    0    0    0    0    0    0    0    0

In [7]:
y.head(7)

   Rings
0     15
1      7
2      9
3     10
4      7
5      8
6     20

In [ ]:
y.value_counts()

In [8]:
# Convert y to binary: 1 if Rings==7, else 0
y_binary = (y['Rings'] == 7).astype(int)

# Print value counts after conversion
print(y_binary.value_counts())

0    3786
1     391
Name: Rings, dtype: int64

In [23]:
# Assuming y_binary is already created and X is your feature DataFrame

# For the first 4 rows
X_subset = X
y_binary_subset = y_binary.rename('target')

# Concatenate features and target
final_dataset = pd.concat([X_subset.reset_index(drop=True), y_binary_subset.reset_index(drop=True)], axis=1)

In [24]:
final_dataset.head(6)

   f_1  f_2  f_3  f_4  f_5  f_6  f_7  f_8  target
0    0    0    0    0    0    0    0    1       0
1    0    0    0    0    0    0    0    1       1
2    0    0    0    0    0    0    0    0       0
3    0    0    0    0    0    0    0    1       0
4    0    0    0    0    0    0    0    0       1
5    0    0    0    0    0    0    0    0       0

In [25]:
final_dataset.shape

(4177, 9)

In [26]:
final_dataset.to_csv(output_loc + "final_data.csv.zip", 
                     index=False, 
                     compression='zip')