In [1]:
! pip install liac-arff

Requirement already satisfied: liac-arff in /opt/conda/lib/python3.8/site-packages (2.5.0)

In [2]:
## Checks to be executed for each dataset
## 1. The unique values across the entire dataset should be 0 or 1 only
## 2. There should NOT be any columns in the co-variate space with all value equal. Let's remove those columns

In [3]:
import arff
import pandas as pd
from scipy.sparse import csr_matrix
import numpy as np

In [4]:
path = "/repos/smote_msfb/public_datasets/genbase/"

In [5]:
# Load the .arff file - With full data in one file
with open(path + 'genbase.arff', 'r') as f:
    dataset = arff.load(f)
    
# Extract data and attributes
data = dataset['data']
attributes = dataset['attributes']

# Create DataFrame
columns = [attr[0] for attr in attributes]
df = pd.DataFrame(data, columns=columns)

In [6]:
print("Shape of the delicious.arff file :", df.shape)

Shape of the delicious.arff file : (662, 1213)

In [7]:
### Get the position of the first Label columns
col_position = df.columns.get_loc("PDOC00154")  ## The first label column in the dataset
print(col_position)

1186

In [8]:
df.columns

Index(['protein', 'PS00010', 'PS00011', 'PS00012', 'PS00014', 'PS00017',
       'PS00018', 'PS00019', 'PS00020', 'PS00021',
       ...
       'PDOC00662', 'PDOC00018', 'PDOC50001', 'PDOC00014', 'PDOC00750',
       'PDOC50196', 'PDOC50199', 'PDOC00660', 'PDOC00653', 'PDOC00030'],
      dtype='object', length=1213)

In [9]:
df.iloc[:,:col_position].columns

Index(['protein', 'PS00010', 'PS00011', 'PS00012', 'PS00014', 'PS00017',
       'PS00018', 'PS00019', 'PS00020', 'PS00021',
       ...
       'PS50821', 'PS50822', 'PS50823', 'PS50824', 'PS50825', 'PS50826',
       'PS50827', 'PS50829', 'PS50830', 'PS60000'],
      dtype='object', length=1186)

In [10]:
### This dataset needs some extre processing

## 1. Drop the column named : protein extra unique identifier column
df.drop(columns=['protein'], inplace=True)
col_position = col_position - 1 ## Since we deleted the first column. All shifted by 1


## 2. The covariate space contains 'NO' -> 0 and 'YES' -> 1
df = df.replace({'NO': 0, 'YES': 1})

In [11]:
df['PDOC00154'].unique()

array(['1', '0'], dtype=object)

In [12]:
df.head(3)

,PS00010,PS00011,PS00012,PS00014,PS00017,PS00018,PS00019,PS00020,PS00021,PS00022,...,PDOC00662,PDOC00018,PDOC50001,PDOC00014,PDOC00750,PDOC50196,PDOC50199,PDOC00660,PDOC00653,PDOC00030
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
##Check if the unique values across the entire co-variate space is 0 and 1 only or not
unique_values = np.unique(df.iloc[:, :col_position].values)
print(unique_values)

[0 1]

In [14]:
## Check if the unique values in the mulit labels is 0 and 1 only or not
unique_values = np.unique(df.iloc[:,col_position:].values)
print(unique_values)

['0' '1']

In [16]:
df.iloc[:,col_position:].head(3)

,PDOC00154,PDOC00343,PDOC00271,PDOC00064,PDOC00791,PDOC00380,PDOC50007,PDOC00224,PDOC00100,PDOC00670,...,PDOC00662,PDOC00018,PDOC50001,PDOC00014,PDOC00750,PDOC50196,PDOC50199,PDOC00660,PDOC00653,PDOC00030
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
df.iloc[:,:col_position+1+1].columns

Index(['PS00010', 'PS00011', 'PS00012', 'PS00014', 'PS00017', 'PS00018',
       'PS00019', 'PS00020', 'PS00021', 'PS00022',
       ...
       'PS50823', 'PS50824', 'PS50825', 'PS50826', 'PS50827', 'PS50829',
       'PS50830', 'PS60000', 'PDOC00154', 'PDOC00343'],
      dtype='object', length=1187)

In [22]:
##  Rename the co-variate feature space of the dataset

# Generate new column names
new_feature_names = [f"f_{i}" for i in range(col_position)]

# Assign the new names to the first 1836 columns
df.columns.values[:col_position] = new_feature_names

In [23]:
df.head(3)

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,PDOC00662,PDOC00018,PDOC50001,PDOC00014,PDOC00750,PDOC50196,PDOC50199,PDOC00660,PDOC00653,PDOC00030
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
## Dataset is highly imbalanced

# Slice only the label columns
label_data = df.iloc[:, col_position:]

# Calculate proportions of 0's and 1's for each column
for col in label_data.columns:
    value_counts = label_data[col].value_counts(normalize=True).sort_index()
    prop_0 = value_counts.get(0, 0)
    prop_1 = value_counts.get(1, 0)
    print(f"{col}: 0's = {prop_0:.4f}, 1's = {prop_1:.4f}")

PDOC00154: 0's = 0.8807, 1's = 0.1193
PDOC00343: 0's = 0.8852, 1's = 0.1148
PDOC00271: 0's = 0.9063, 1's = 0.0937
PDOC00064: 0's = 0.9260, 1's = 0.0740
PDOC00791: 0's = 0.7417, 1's = 0.2583
PDOC00380: 0's = 0.9653, 1's = 0.0347
PDOC50007: 0's = 0.9532, 1's = 0.0468
PDOC00224: 0's = 0.9230, 1's = 0.0770
PDOC00100: 0's = 0.9909, 1's = 0.0091
PDOC00670: 0's = 0.9003, 1's = 0.0997
PDOC50002: 0's = 0.9502, 1's = 0.0498
PDOC50106: 0's = 0.9562, 1's = 0.0438
PDOC00561: 0's = 0.9456, 1's = 0.0544
PDOC50017: 0's = 0.9789, 1's = 0.0211
PDOC50003: 0's = 0.9789, 1's = 0.0211
PDOC50006: 0's = 0.9940, 1's = 0.0060
PDOC50156: 0's = 0.9743, 1's = 0.0257
PDOC00662: 0's = 0.9381, 1's = 0.0619
PDOC00018: 0's = 0.9864, 1's = 0.0136
PDOC50001: 0's = 0.9924, 1's = 0.0076
PDOC00014: 0's = 0.9970, 1's = 0.0030
PDOC00750: 0's = 0.9955, 1's = 0.0045
PDOC50196: 0's = 0.9970, 1's = 0.0030
PDOC50199: 0's = 0.9985, 1's = 0.0015
PDOC00660: 0's = 0.9985, 1's = 0.0015
PDOC00653: 0's = 0.9985, 1's = 0.0015
PDOC00030: 0's = 0.9955, 1's = 0.0045

In [25]:
## Rename all the response variables as target_X

# Total number of columns
total_cols = df.shape[1]

# Generate new names for response variables
num_targets = total_cols - col_position
new_target_names = [f"target_{i+1}" for i in range(num_targets)]

# Apply the new names
df.columns.values[col_position:] = new_target_names

In [26]:
df.head(3)

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,target_18,target_19,target_20,target_21,target_22,target_23,target_24,target_25,target_26,target_27
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
df.columns = [str(col) for col in df.columns]
df = df.astype(int)

In [31]:
# Select only the response variable columns (those that start with 'target_')
response_cols = [col for col in df.columns if col.startswith('target_')]

# Identify which response columns have at least 1% 1's
cols_to_keep = [
    col for col in response_cols 
    if (df[col] == 1).mean() >= 0.05
]

# Combine covariate columns and filtered response columns
covariate_cols = [col for col in df.columns if not col.startswith('target_')]
filtered_df = df[covariate_cols + cols_to_keep]

# Optional: print kept target columns and their proportions
for col in cols_to_keep:
    prop_1 = (df[col] == 1).mean()
    print(f"{col}: proportion of 1s = {prop_1:.4f}")

target_1: proportion of 1s = 0.1193
target_2: proportion of 1s = 0.1148
target_3: proportion of 1s = 0.0937
target_4: proportion of 1s = 0.0740
target_5: proportion of 1s = 0.2583
target_8: proportion of 1s = 0.0770
target_10: proportion of 1s = 0.0997
target_13: proportion of 1s = 0.0544
target_18: proportion of 1s = 0.0619

In [32]:
## Rename all the response variables as target_X

# Total number of columns
total_cols = filtered_df.shape[1]

# Generate new names for response variables
num_targets = total_cols - col_position
new_target_names = [f"target_{i+1}" for i in range(num_targets)]

# Apply the new names
filtered_df.columns.values[col_position:] = new_target_names

In [33]:
filtered_df.columns = [str(col) for col in filtered_df.columns]

In [34]:
filtered_df.to_csv(path + "/Final_dataset.csv", index=False)

In [35]:
# Save as Parquet (compressed with snappy)
filtered_df.to_parquet(
    path + "/processed_dataset.parquet", 
    engine="pyarrow", 
    compression="snappy", 
    index=False
)

In [36]:
filtered_df.head(3)

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_1184,target_1,target_2,target_3,target_4,target_5,target_6,target_7,target_8,target_9
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0